<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022825593220-occauijn3nbjku5ld4o0gihefgs4fk9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022825593220-occauijn3nbjku5ld4o0gihefgs4fk9n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1022825593220-m0nu8ltvvm4qm5e6uleuraiddi4b6no0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7jJ9_2qxc6vN0VZ1oMx_6agajjsel9Mw</string>
	<key>GCM_SENDER_ID</key>
	<string>1022825593220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ecommerce-graduate</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-datn</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-datn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022825593220:ios:ab13c2fd71d2adf40fc5d1</string>
</dict>
</plist>